doctype html
html(lang='en')
	head
		title Group Art
		meta(charset='utf-8')
		link(
			rel='stylesheet',
			href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/styles.css')
	body
		main
			p Move Mouse!!!
		#art-board
		script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js')
		script(
			src='https://code.jquery.com/jquery-3.1.1.min.js',
			integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=',
			crossorigin='anonymous')
		script(src='/scripts.js')
